* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.body-crew {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    color: beige;
    font-family: 'Bellefair', serif;
}