* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.logo {
    margin-right: 20px;
}

.logo-btn {
    height: 4rem;
    width: 4rem;
    border: none;
    background: none;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: white;
    margin: 0 20px;
}

.nav-blur {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    height: 5rem;
    width: 50%;
}

.body-nav {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
}

.body-nav button {
    background: none;
    border: none;
    color: white;
    font-family: "Bellefair", serif;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    opacity: 0.8;
}

.body-nav button:hover {
    text-decoration: underline;
    opacity: 1;
    transition: opacity 0.3s;
}

.link {
    text-decoration: none;
    color: inherit;
}
